In [14]:
agg_filename = 'keywords.tsv'
tag_data = []
with open(agg_filename, 'r') as f:
    for line in f.readlines():
        movieId, tags = line.strip().split('\t')
        tags = eval(tags)
        for tag in tags:
            tag.update({'movieId': movieId})
            tag_data.append(tag)
print(tag_data[0])

{'id': 931, 'name': 'jealousy', 'movieId': '862'}

In [51]:
tag_data[0].items()

dict_items([('id', 931), ('name', 'jealousy'), ('movieId', '862')])

In [77]:
import csv

In [90]:
file = "movie_tags.csv"
with open(file, "w", newline="") as file:
    columns = ["id", "name", "movieId"]
    writer = csv.DictWriter(file, fieldnames=columns)
    writer.writeheader()
    writer.writerows(tag_data)

In [74]:
import pandas as pd

In [91]:
df = pd.read_csv('movie_tags.csv')

In [92]:
df.head()

     id        name  movieId
0   931    jealousy      862
1  4290         toy      862
2  5202         boy      862
3  6054  friendship      862
4  9713     friends      862

In [93]:
df_filtered = df.groupby('name')[['movieId']].count().sort_values('movieId', ascending = False)
df_top_5 = df_filtered.head()
df_top_5

                  movieId
name
woman director       3115
independent film     1930
murder               1308
based on novel        835
musical               734